<% layout('layout') -%>
<% if(!locals.authenticated) {%>
    <% include ../partials/head.ejs %>
<%};%>

<% if(locals.authenticated && !locals.isadmin) {%>
    <% include ../partials/headConnect.ejs %>
<%};%>

<% if (locals.authenticated && locals.isadmin) {%>
    <% include ../partials/headAdmin.ejs %>
<%};%>

<!--product-starts-->
<div class="product">
    <div class="container">
        <div class="product-top">

                <% var i = 0; locals.albums.forEach(function(album) { %>
            <%if (i%4 === 0) {%>

            <div class="product-one" >
            <%}%>
                <div class="col-md-3 product-left" onClick>
                    <div class="product-main simpleCart_shelfItem list-albumbox">
                        <a href="/album/detail/<%= album.idalbum %>" class="list-albumbox-img mask "><img class="img-responsive zoom-img" src="<%= album.imagealbum %>" alt="" /></a>
                        <div class="product-bottom">
                            <div class="list-title list-albumbox-title">
                                <h3 ><%= album.nomalbum %></h3>
                            </div>
                            <p><%= album.nomartiste%></p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price"><%= album.prixalbum %> €</span></h4>
                        </div>
                    </div>
                </div>

                <%if (i%4 === 3) {%>

            </div>
            <div class="clearfix"></div>
            <%}%>


                <% i++; }); %>
            <%if (i%4 != 0) {%>
        </div>
        <div class="clearfix"></div>
        <%}%>

            </div>
        </div>
    </div>
</div>
<!--product-end-->
